form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
  margin: 10px 0;
  text-align: center;
}
.mat-mdc-form-field {
  margin-bottom: 15px;
}
.spinner {
  margin: 0 auto;
  margin-bottom: 20px;
}

.spinner .mat-mdc-progress-spinner {
  margin: 0 auto !important;
}
